<launch>
    # visualize
    <node name="nclt2rosbag" pkg="nclt2ros" type="nclt2visualizer" >

        <param name="date"          value="2013-01-10"/>
        <param name="raw_data_path" value="/home/christian/nclt2ros/raw_data" />
        <param name="plot_path"     value="/home/christian/nclt2ros/plots" />

        <param name="gt_kml"        value="True" />
        <param name="gt_png"        value="True" />
        <param name="gps_kml"       value="True" />
        <param name="gps_png"       value="True" />
        <param name="gps_rtk_kml"   value="True" />
        <param name="gps_rtk_png"   value="True" />
        <param name="odom_kml"      value="True" />
        <param name="odom_png"      value="True" />
        <param name="all"           value="True" />

    </node>
</launch>